<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlx.ababy.dao.AttentionMapper">
  <resultMap id="BaseResultMap" type="com.dlx.ababy.entity.Attention">
    <id column="at_id" jdbcType="INTEGER" property="atId" />
    <result column="at_u_fid" jdbcType="INTEGER" property="atUFid" />
    <result column="at_u_bid" jdbcType="INTEGER" property="atUBid" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.dlx.ababy.vo.AttentionVo">
    <id column="at_id" jdbcType="INTEGER" property="atId" />
    <result column="name" jdbcType="VARCHAR" property="attName" />
    <result column="name2" jdbcType="VARCHAR" property="attBeName" />
  </resultMap>
  <sql id="Base_Column_List">
    at_id, at_u_fid, at_u_bid
  </sql>

  <delete id="deleteByUid" parameterType="java.lang.Integer">
    delete from attention
    where at_u_fid = #{atUFid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlx.ababy.entity.Attention">
    insert into attention (at_u_fid, at_u_bid
      )
    values (#{atUFid,jdbcType=INTEGER}, #{atUBid,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAllAttn" resultMap="BaseResultMap2">
    SELECT a.at_id,u.`name`,us.`name` name2 FROM attention a
                                                   INNER JOIN `user` u
                                                              ON a.at_u_bid=u.id
                                                   INNER JOIN `user` us
                                                              ON a.at_u_fid=us.id
    ORDER BY a.at_id
  </select>
  <select id="selectcount" resultType="int">
    select count(*) from attention
  </select>
  <select id="selectByPage" resultMap="BaseResultMap2">
    SELECT a.at_id,u.`name`,us.`name` name2 FROM attention a
                                                   INNER JOIN `user` u
                                                              ON a.at_u_bid=u.id
                                                   INNER JOIN `user` us
                                                              ON a.at_u_fid=us.id
    ORDER BY a.at_id LIMIT #{index},#{limit}
  </select>
  <select id="selectByUid" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from attention order by at_id limit #{index},#{limit}
  </select>
</mapper>