<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlx.ababy.dao.AttentionMapper">
  <resultMap id="BaseResultMap" type="com.dlx.ababy.entity.Attention">
    <id column="at_id" jdbcType="INTEGER" property="atId" />
    <result column="at_u_fid" jdbcType="INTEGER" property="atUFid" />
    <result column="at_u_bid" jdbcType="INTEGER" property="atUBid" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.dlx.ababy.vo.AttentionVo">
    <id column="at_id" jdbcType="INTEGER" property="atId" />
    <result column="name" jdbcType="VARCHAR" property="attName" />
    <result column="name2" jdbcType="VARCHAR" property="attBeName" />
  </resultMap>
  <resultMap id="BaseResultMap3" type="com.dlx.ababy.vo.CommunityShowVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="com_id" jdbcType="INTEGER" property="comId" />
    <result column="com_date" jdbcType="TIMESTAMP" property="comDate" />
    <result column="com_info" jdbcType="VARCHAR" property="comInfo" />
    <result column="com_likenum" jdbcType="INTEGER" property="comLikenum" />
    <result column="com_comty_id" jdbcType="INTEGER" property="comComtyId" />
    <collection property="imgUrl" javaType="java.util.ArrayList"
                ofType="java.lang.String">

      <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />

    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    at_id, at_u_fid, at_u_bid
  </sql>

  <delete id="deleteByUid" parameterType="java.lang.Integer">
    delete from attention
    where at_u_fid = #{Uid,jdbcType=INTEGER}
    and at_u_bid=#{Bid}
  </delete>
  <insert id="insert" parameterType="com.dlx.ababy.entity.Attention">
    insert into attention (at_u_fid, at_u_bid
      )
    values (#{atUFid,jdbcType=INTEGER}, #{atUBid,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAllAttn" resultMap="BaseResultMap2">
    SELECT a.at_id,u.`name`,us.`name` name2 FROM attention a
                                                   INNER JOIN `user` u
                                                              ON a.at_u_bid=u.id
                                                   INNER JOIN `user` us
                                                              ON a.at_u_fid=us.id
    ORDER BY a.at_id
  </select>
  <select id="selectcount" resultType="int">
    select count(*) from attention
  </select>
  <select id="selectByPage" resultMap="BaseResultMap2">
    SELECT a.at_id,u.`name`,us.`name` name2 FROM attention a
                                                   INNER JOIN `user` u
                                                              ON a.at_u_bid=u.id
                                                   INNER JOIN `user` us
                                                              ON a.at_u_fid=us.id
    ORDER BY a.at_id LIMIT #{index},#{limit}
  </select>
  <select id="selectByUid"  resultMap="BaseResultMap3">
    SELECT u.id,u.`name`,u.photo,co.com_id,co.com_date,co.com_info,co.com_likenum,co.com_comty_id,i.img_url FROM attention a
    INNER JOIN `user` u
             ON a.at_u_bid=u.id
    INNER JOIN community co
             ON a.at_u_bid=co.u_id
    INNER JOIN img i
             ON co.com_id=i.img_com_id
    WHERE a.at_u_fid=#{Id}
    ORDER BY a.at_id LIMIT #{index},#{limit}
  </select>
</mapper>