<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlx.ababy.dao.OpinionMapper">
  <resultMap id="BaseResultMap" type="com.dlx.ababy.entity.Opinion">
    <id column="op_id" jdbcType="INTEGER" property="opId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="op_info" jdbcType="VARCHAR" property="opInfo" />
    <result column="op_tel" jdbcType="VARCHAR" property="opTel" />
  </resultMap>
  <sql id="Base_Column_List">
    op_id, u_id, op_info, op_tel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opinion
    where op_id = #{opId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from opinion
    where op_id = #{opId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlx.ababy.entity.Opinion" useGeneratedKeys="true" keyProperty="aId">
    insert into opinion (op_id, u_id, op_info, 
      op_tel)
    values (#{opId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{opInfo,jdbcType=VARCHAR}, 
      #{opTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dlx.ababy.entity.Opinion">
    insert into opinion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="opId != null">
        op_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="opInfo != null">
        op_info,
      </if>
      <if test="opTel != null">
        op_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="opId != null">
        #{opId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="opInfo != null">
        #{opInfo,jdbcType=VARCHAR},
      </if>
      <if test="opTel != null">
        #{opTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlx.ababy.entity.Opinion">
    update opinion
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="opInfo != null">
        op_info = #{opInfo,jdbcType=VARCHAR},
      </if>
      <if test="opTel != null">
        op_tel = #{opTel,jdbcType=VARCHAR},
      </if>
    </set>
    where op_id = #{opId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlx.ababy.entity.Opinion">
    update opinion
    set u_id = #{uId,jdbcType=INTEGER},
      op_info = #{opInfo,jdbcType=VARCHAR},
      op_tel = #{opTel,jdbcType=VARCHAR}
    where op_id = #{opId,jdbcType=INTEGER}
  </update>
</mapper>